{% comment %} Load script if disquss comments are enabled and `page.comments` is either empty (index) or set to true {% endcomment %}
{% if page.comments != false %}
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
(function() {
      var articleid = fyre.conv.load.makeArticleId(null)
      fyre.conv.load({},[{
            el: 'livefyre-comments',
            network: "livefyre.com",
            siteId: "352713",
            articleId: articleid,
            signed: false,
            collectionMeta: {
                  articleId: articleid,
                  url: fyre.conv.load.makeCollectionUrl(),
            }
      }], function() {})
}())

</script>
{% endif %}
